@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 1000;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 1000;
    font-style: italic;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;